.modal {

    &__close-icon {
        width: 26px;
        height: 26px;
    }

    &__subtitle {
        display: block;
        color: $main-color;
        text-align: center;
        margin: 20px auto 0 auto;
        @include adaptiv-font(24, 16);
    }

    .title {
        color: $color-3;
        text-align: center;
    }

    &.hystmodal {
        .hystmodal {

            &__wrap {
                padding: 0 20px;
            }

            &__window {
                padding: 48px;
                background: $color-2;
                width: 100%;
                max-width: 674px;
                border-radius: 5px;
            }

            &__close {
                top: 24px;
                right: 24px;
                width: 32px;
                height: 32px;
                padding: 0;
                background-image: none;
                transition: opacity 0.3s;

                &:hover {
                    opacity: 0.6;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}