.my-title {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;

    &__text {
        font-weight: 500;
        @include adaptiv-font(22, 18);
    }
}