@media screen and (max-width: 767px) {
    .tours {
        &__wrap-cards {
            grid-template-columns: 1fr;
        }

        .section {
            &__head {
                grid-template-columns: 1fr;
                grid-row-gap: 20px;
            }
        }
    }

    .tour-card {
        &__block-image {
            height: 198px;
        }
    }

    .pictures {
        &__link {
            height: 240px;
        }
    }

    .block-sorting {
        .sorting {
            &__block-body {
                right: auto;
                left: 0;
            }
        }
    }
}