@media screen and (max-width: 992px) {
    .page {
        // padding-top: 90px;
    }

    .section {
        padding: 40px 0;

        .title {
            margin-bottom: 20px;
        }

        &__head {
            margin-bottom: 20px;

            .title {
                margin-bottom: 0;
            }
        }
    }

    .header {
        padding: 20px;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;

        &--fixed {
            padding: 10px 20px;
        }

        &__burger,
        .logo {
            z-index: 12;
        }

        &__burger {
            display: block;
        }

        &__menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            padding: 20px 20px 80px 20px;
            grid-template-columns: 1fr;
            grid-template-rows: auto repeat(2, max-content);
            grid-row-gap: 30px;
            justify-items: center;
            background-color: $color-3;
            transform: scale(1.1);
            opacity: 0;
            pointer-events: none;
            transition: opacity $transition-time, transform $transition-time;

            &.active {
                transform: scale(1);
                opacity: 1;
                pointer-events: auto;
            }
        }

        &__nav {
            margin-right: 0;
            justify-self: center;
        }

        &__nav-ul {
            grid-auto-flow: row;
            grid-row-gap: 30px;
        }

        &__nav-li {
            text-align: center;
        }

        &__nav-link {
            font-size: 24px;
        }

        .logo {
            &__image {
                width: 50px;
                height: 50px;
            }
        }
    }

    .tours {
        &__wrap-cards {
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
    }

    .tour-card {
        &__block-image {
            height: 264px;
        }
    }

    .footer {
        &__wrap-nav {
            grid-template-columns: 1fr;
            grid-row-gap: 30px;
        }

        &__nav-list {
            margin-top: 10px;
        }

        .main-container {
            align-content: start;
        }
    }

    .presentation {
        &__block-info {
            grid-row-gap: 20px;
        }

        &__icon-conditions {
            width: 40px;
            height: 40px;
        }

        &__btn {
            margin-top: 10px;
        }

        &__block-conditions {
            grid-column-gap: 20px;
        }

        &__wrap-conditions {
            grid-row-gap: 20px;
        }
    }

    .sights {
        &__wrap-cards {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
    }

    .pictures {
        grid-template-columns: repeat(2, 1fr);
    }

    .program {

        &__card-wrap-info {
            grid-template-columns: 1fr;
            grid-row-gap: 15px;
        }
    }

    .advantages {

        &__wrap-cards {
            grid-template-columns: 1fr;
            grid-row-gap: 15px;
        }
    }

    .price {
        &__wrap-info {
            padding: 30px;
        }

        &__wrap-blocks {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
        }
    }
}