@media screen and (max-width: 576px) {
    .footer {

        &__wrap-logo {
            grid-row-gap: 30px;
        }

        &__main-container-nav {
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }

        .logo {
            &__image {
                width: 100px;
                height: 100px;
            }
        }
    }

    .tour-desc {
        &__block-image {
            height: 280px;
        }

        &__block-text {
            margin-top: 15px;
        }
    }

    .text {
        grid-row-gap: 10px;
    }

    .sights {
        &__wrap-cards {
            grid-template-columns: 1fr;
        }
    }

    .pictures {
        &__link {
            height: 158px;
        }
    }

    .program {
        &__card-wrap-info {
            margin-top: 20px;
        }

        &__card-block-image {
            height: 278px;
        }
    }

    .section {
        &__head {
            .box-arrows {
                grid-column-gap: 12px;
            }
            
            .arrow {
                width: 37px;
                height: 37px;

                &__icon {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    .info-card {
        display: grid;
        grid-template-columns: 1fr;

        &__block-image {
            width: 100%;
            height: 200px;
        }

        &__block-info {
            padding: 15px;
            grid-row-gap: 10px;
        }
    }

    .faq {

        &__block {

            &:not(:first-child) {
                padding: 15px 0;
            }
    
            &:first-child {
                padding: 0 0 15px 0;
            }
        }

        &__block-body {
            padding-top: 15px;
        }

        &__block-icon {
            width: 20px;
            height: 20px;
        }
    }

    .block-sorting {
        grid-auto-flow: row;
        grid-row-gap: 10px;
    }

    .review-card {
        padding: 20px;

        &__block-image {
            width: 125px;
            height: 125px;
        }

        &__text {
            margin-top: 15px;
        }
    }

    .privacy-policy {

        &__title {
            font-size: 28px;
        }
    }

    .modal {

        &__subtitle {
            margin: 10px auto 0 auto;
        }

        &.m-success {

            &.hystmodal {
                .hystmodal {
                    &__window {
                        padding: 48px 16px 48px 16px;
                    }
                }
            }

            .title {
                text-align: center;
            }
        }

        &.hystmodal {
            .hystmodal {
                &__window {
                    padding: 48px 16px 16px 16px;
                }

                &__close {
                    top: 16px;
                    right: 16px;
                }
            }
        }

        .title {
            text-align: left;
        }
    }
}