.slide {
    width: 100%;
    height: 100%;
    user-select: none;

    &__content {
        border: 1px solid;
        border-color: $color-light-blue;
        padding: 20px;
        height: 100%;
        transition: $transition;

        &:hover {
            border-color: $color-main;
        }
    }

    &__block-image {
        position: relative;
        height: 160px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

    &__block-date,
    &__block-title,
    &__block-description {
        margin-top: 0.63rem;
    }

    &__block-date {}

    &__date {
        color: $color-light-blue;
    }

    &__date,
    &__description {
        font-size: 0.75rem;
        line-height: 1.38rem;
    }

    &__block-title {
        height: 78px;
        overflow: hidden;
    }

    &__title {
        line-height: 1.63rem;
    }

    &__block-description {}

    &__description {}
}