<header class="header" data-header="main">
    <div class="main-container max-width">
        <a href="/" class="header__logo">
            <span>Andrey</span>
            <span>FD</span>
        </a>
        <nav class="header__nav">
            <ul class="header__list list-reset">
                <li class="header__li">
                    <a href="#" class="header__link-nav link-reset">Home</a>
                </li>
                <li class="header__li">
                    <a href="#" class="header__link-nav link-reset">About</a>
                </li>
                <li class="header__li">
                    <a href="#" class="header__link-nav link-reset">Services</a>
                </li>
                <li class="header__li">
                    <a href="#" class="header__link-nav link-reset">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>