<header class="header" data-header="main">
    <div class="main-container max-width">
        <a href="/" class="header__logo">
            <span>Andrey</span>
            <span>FD</span>
        </a>
        <nav class="header__nav" data-header="nav">
            <ul class="header__list list-reset">
                <li class="header__li">
                    <a href="#" class="header__link-nav link-reset" data-smooth-scrolling="#home">Главная</a>
                </li>
                <li class="header__li">
                    <a href="#" class="header__link-nav link-reset" data-smooth-scrolling="#about-me">Обо мне</a>
                </li>
                <li class="header__li">
                    <a href="#" class="header__link-nav link-reset" data-smooth-scrolling="#services">Услуги</a>
                </li>
                <li class="header__li">
                    <a href="#" class="header__link-nav link-reset" data-smooth-scrolling="#contacts">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header__burger" data-header="btn-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>