.textarea {
    position: relative;
    height: 163px;

    &--focus {
        .textarea {
            &__placeholder {
                transform: translate(-12px, -20px) scale(0.9);
            }

            &__textarea {
                padding: 50px 80px 12px 80px;
            }
        }
    }

    &--viewed {
        .textarea {
            &__block-textarea {
                border-color: $main-color;
            }
        }
    }

    &--error {

        .textarea {
            &__block-textarea {
                border-color: $color-6;
            }
        }
    }

    &__block-textarea {
        position: relative;
        height: 100%;
        border: 4px solid;
        border-color: $color-2;
        border-radius: 6px;
        background-color: $color-1;
        overflow: hidden;
        transition: border-color $transition-time;
    }

    &__textarea {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        padding: 40px 80px;
        color: $color-2;
        background-color: transparent;
        font-size: 32px;
        line-height: 1.4em;
        resize: none;
        transition: padding $transition-time;

        &[required] ~ .textarea__placeholder {
            &::after {
                content: '*';
                margin-left: 2px;
                color: $main-color;
                font-size: 32px;
            }
        }
    }

    &__placeholder {
        position: absolute;
        top: 25px;
        left: 80px;
        pointer-events: none;
        font-size: 32px;
        color: $color-2;
        transition: transform $transition-time;
    }
}