.arrow {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $color-1;
    cursor: pointer;
    border: 1px solid;
    border-color: $color-3;
    transition:
        background-color $transition-time,
        opacity $transition-time,
        border-color $transition-time;

    &:hover {
        background-color: $color-3;
    }

    &:hover &__icon use {
        fill: $color-1;
    }

    &[disabled] {
        pointer-events: none;
        opacity: 0.3;
    }

    &__icon {
        width: 16px;
        height: 16px;

        use {
            fill: $color-3;
            stroke-width: 1.2;
            transition: fill $transition-time;
        }
    }
}