.radio {

    &:not([disabled]):hover>&__label &__text {
        color: #000;
        cursor: pointer;
    }

    &:not([disabled]):hover>&__label &__decore::before {
        border-color: #000;
    }

    &[disabled] {
        opacity: 0.6;
        pointer-events: none;

        .radio {
            &__decore::before {
                background-color: #EBECEC;
                border-color: #EBECEC;
            }
        }
    }

    &.active {
        .radio {
            &__decore {
                &::before {
                    border-color: #000;
                }

                &::after {
                    opacity: 1;
                }
            }

            &__text {
                color: #000;
            }
        }
    }

    &__label {
        position: relative;
        display: grid;
        padding-left: 29px;
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: none;

        &:checked~.radio__decore::before {
            border-color: #000;
        }

        &:checked~.radio__decore::after {
            opacity: 1;
        }

        &:checked~.radio__text {
            color: #000;
        }
    }

    &__text {
        color: #898989;
        transition: color $transition-time;
    }

    &__decore {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            width: 100%;
            height: 100%;
            border: 1px solid;
            border-radius: 100px;
            border-color: #898989;
            transition: border-color $transition-time;
        }

        &::after {
            width: 8px;
            height: 8px;
            border-radius: 100px;
            background-color: #000;
            opacity: 0;
            transition: opacity $transition-time;
        }
    }
}