.social-network {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-content: start;
    grid-column-gap: 18px;

    &__link {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: grid;
        background-color: $color-2;
        transition: background-color $transition-time;

        &:hover {
            background-color: transparent;
        }

        &:hover .social-network__icon {
            filter: invert(1);
        }
    }

    &__icon {
        width: 30px;
        height: 30px;
        transition: filter $transition-time;
    }
}