// Colors

$main-color: #696969;

$color-1: #f0f0f0;
$color-2: #fff;
$color-3: #141414;
$color-4: #ec877a;
$color-5: #525252;
$color-6: #c0c0c0;
$color-7: #e4e4e4;

// Fonts

$main-font: 'Montserrat';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;