// Colors

$main-color: #fff;

$color-1: #202124;
$color-2: #FFA688;
$color-3: #2A2B2F;
$color-4: #BCBCBD;
$color-5: #000;

// Fonts

$main-font: 'Montserrat';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;