<section class="advantages section">
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset">Давайте путешествовать вместе!</h2>
        <div class="advantages__wrap-cards">
            <div class="info-card">
                <div class="info-card__block-image">
                    <img src="/assets/images/human.jpg" class="info-card__image" alt="">
                </div>
                <div class="info-card__block-info">
                    <span class="info-card__title">Не бойтесь нагрузок</span>
                    <span class="info-card__desc">Гиды оптимизируют маршрут под людей с разной физподготовкой. Нет длинных изматывающих переходов с рюкзаками</span>
                </div>
            </div>
            <div class="info-card">
                <div class="info-card__block-image">
                    <img src="/assets/images/human.jpg" class="info-card__image" alt="">
                </div>
                <div class="info-card__block-info">
                    <span class="info-card__title">Соединитесь с природой</span>
                    <span class="info-card__desc">Ежедневные активности: отдых в горячих источниках, сбор сезонных ягод, грибов и трав. А какая вкусная уха на костре!</span>
                </div>
            </div>
            <div class="info-card">
                <div class="info-card__block-image">
                    <img src="/assets/images/human.jpg" class="info-card__image" alt="">
                </div>
                <div class="info-card__block-info">
                    <span class="info-card__title">Заведите новых друзей</span>
                    <span class="info-card__desc">Совместные приключения и посиделки ночью у костра сближают</span>
                </div>
            </div>
            <div class="info-card">
                <div class="info-card__block-image">
                    <img src="/assets/images/human.jpg" class="info-card__image" alt="">
                </div>
                <div class="info-card__block-info">
                    <span class="info-card__title">Отдыхайте без проблем</span>
                    <span class="info-card__desc">Все маршруты отработаны и налажены. Проведите свой отпуск насыщенно и ни о чем не думайте!</span>
                </div>
            </div>
        </div>
    </div>
</section>