<section class="pictures" data-modal-picture="main">
    <a 
        href="./assets/images/kamchatka-5.jpg"
        data-img="./assets/images/kamchatka-5.jpg"
        data-thumb="./assets/images/kamchatka-5.jpg"
        data-alt="Example"
        data-height="2500"
        data-width="1667"
        data-modal-picture="link"
        class="pictures__link"
    >
        <img src="./assets/images/kamchatka-5.jpg" class="pictures__image" alt="">
    </a>
    <a 
        href="./assets/images/kamchatka-6.jpg"
        data-img="./assets/images/kamchatka-6.jpg"
        data-thumb="./assets/images/kamchatka-6.jpg"
        data-alt="Example"
        data-height="2500"
        data-width="1667"
        data-modal-picture="link"
        class="pictures__link"
    >
        <img src="./assets/images/kamchatka-6.jpg" class="pictures__image" alt="">
    </a>
    <a 
        href="./assets/images/kamchatka-7.jpg"
        data-img="./assets/images/kamchatka-7.jpg"
        data-thumb="./assets/images/kamchatka-7.jpg"
        data-alt="Example"
        data-height="2500"
        data-width="1667"
        data-modal-picture="link"
        class="pictures__link"
    >
        <img src="./assets/images/kamchatka-7.jpg" class="pictures__image" alt="">
    </a>
    <a 
        href="./assets/images/kamchatka-8.jpg"
        data-img="./assets/images/kamchatka-8.jpg"
        data-thumb="./assets/images/kamchatka-8.jpg"
        data-alt="Example"
        data-height="2500"
        data-width="1667"
        data-modal-picture="link"
        class="pictures__link"
    >
        <img src="./assets/images/kamchatka-8.jpg" class="pictures__image" alt="">
    </a>
    <a 
        href="./assets/images/kamchatka-9.jpg"
        data-img="./assets/images/kamchatka-9.jpg"
        data-thumb="./assets/images/kamchatka-9.jpg"
        data-alt="Example"
        data-height="2500"
        data-width="1667"
        data-modal-picture="link"
        class="pictures__link"
    >
        <img src="./assets/images/kamchatka-9.jpg" class="pictures__image" alt="">
    </a>
    <a 
        href="./assets/images/kamchatka-10.jpg"
        data-img="./assets/images/kamchatka-10.jpg"
        data-thumb="./assets/images/kamchatka-10.jpg"
        data-alt="Example"
        data-height="2500"
        data-width="1667"
        data-modal-picture="link"
        class="pictures__link"
    >
        <img src="./assets/images/kamchatka-10.jpg" class="pictures__image" alt="">
    </a>
    <a 
        href="./assets/images/kamchatka-11.jpg"
        data-img="./assets/images/kamchatka-11.jpg"
        data-thumb="./assets/images/kamchatka-11.jpg"
        data-alt="Example"
        data-height="2500"
        data-width="1667"
        data-modal-picture="link"
        class="pictures__link"
    >
        <img src="./assets/images/kamchatka-11.jpg" class="pictures__image" alt="">
    </a>
    <a 
        href="./assets/images/kamchatka-12.jpg"
        data-img="./assets/images/kamchatka-12.jpg"
        data-thumb="./assets/images/kamchatka-12.jpg"
        data-alt="Example"
        data-height="2500"
        data-width="1667"
        data-modal-picture="link"
        class="pictures__link"
    >
        <img src="./assets/images/kamchatka-12.jpg" class="pictures__image" alt="">
    </a>
</section>