<section class="presentation" data-presentation="main">
    <div class="presentation__block-bg" data-presentation="block-parallax">
        <img src="./assets/images/kamchatka-1.jpg" class="presentation__bg" data-depth="0.2" alt="">
    </div>
    <div class="main-container max-width">
        <div class="presentation__wrap-content">
            <div class="presentation__block-info">
                <h1 class="title title--h1 title-reset">Камчатка</h1>
                <span class="presentation__desc">Чтобы выбрать лучшее приключение, поговорите с нашим гидом</span>
                <button type="button" class="btn btn--size--bg btn--theme--secondary presentation__btn" data-smooth-scrolling="#feedback-form">
                    <span class="btn__text">Поговорить с гидом</span>
                </button>
            </div>
            <!-- <div class="presentation__wrap-conditions">
                <div class="presentation__block-conditions">
                    <img src="./assets/images/day-night.png" class="presentation__icon-conditions" alt="">
                    <span class="presentation__text-conditions">9 дней | хостел и палатки</span>
                </div>
                <div class="presentation__block-conditions">
                    <img src="./assets/images/ruble.png" class="presentation__icon-conditions" alt="">
                    <span class="presentation__text-conditions">78 000 | чел</span>
                </div>
            </div> -->
        </div>
    </div>
</section>