<section class="price section">
    <div class="price__wrap-image">
        <img src="./assets/images/kamchatka-2.jpg" class="price__image" data-scroll-parallax alt="">
    </div>
    <div class="main-container max-width">
        <div class="price__wrap-info">
            <h2 class="title title--h2 title-reset">Стоимость 78 000 ₽/чел</h2>
            <div class="price__wrap-blocks">
                <div class="price__block-info">
                    <span class="price__block-title">Входит в стоимость:</span>
                    <ul class="price__list">
                        <li class="price__li">Все трансферы по программе;</li>
                        <li class="price__li">Питание на активной части маршрута;</li>
                        <li class="price__li">Проживание в хостеле 1 ночь между активными частями маршрута;</li>
                        <li class="price__li">Сопровождение профессиональных гидов;</li>
                        <li class="price__li">Экосборы природного парка;</li>
                        <li class="price__li">Предоставление палаток;</li>
                        <li class="price__li">Групповая аптечка.</li>
                    </ul>
                </div>
                <div class="price__block-info">
                    <span class="price__block-title">Не входит в стоимость:</span>
                    <ul class="price__list">
                        <li class="price__li">Перелет из вашего города в Петропавловск-Камчатский и обратно. Стоимость билета из МСК 28 000 (туда и обратно). Покупайте максимально заранее, чтобы получить субсидированный билет за эту цену;</li>
                        <li class="price__li">Питание вне маршрута;</li>
                        <li class="price__li">Личные расходы, сувениры, икра и рыбка;</li>
                        <li class="price__li">Проживание в городе до и после похода;</li>
                        <li class="price__li">Страховка с опцией треккинга, примерная стоимость 1000 руб.</li>
                    </ul>
                </div>
            </div>
            <a href="" type="download" class="price__link link-reset">Скачать список снаряжения</a>
        </div>
    </div>
</section>