<section class="program section" data-program="main">
    <div class="main-container max-width">
        <div class="section__head">
            <h2 class="title title--h2 title-reset">Наша программа</h2>
            <div class="box-arrows">
                <button type="button" class="arrow" data-program="btn-prev">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                    </svg>
                </button>
                <button type="button" class="arrow" data-program="btn-next">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper program__slider" data-program="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="program__card">
                        <span class="program__card-title">День 1: Вулкан Горелый и лавовые пещеры</span>
                        <div class="program__card-wrap-info">
                            <div class="program__card-block-image">
                                <img src="./assets/images/kamchatka-5.jpg" class="program__card-image" alt="">
                            </div>
                            <div class="program__card-block-text text">
                                <p>
                                    Отправляемся к подножью вулкана Горелый. Нас ждёт длинная дорога через перевал Вилючинский, откуда открываются чудесные виды на вулканы и окружающую природу.
                                </p>
                                <ul>
                                    <li>Пункт 1</li>
                                    <li>Пункт 2</li>
                                    <li>Пункт 3</li>
                                    <li>Пункт 4</li>
                                    <li>Пункт 5</li>
                                </ul>
                                <p>
                                    Осмотрим лавовые пещеры. 2 тысячи лет назад в этом районе было извержение, потоки лавы превратились в «асфальтированные дороги», каменные лабиринты, а местами — скульптуры.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="program__card">
                        <span class="program__card-title">День 2: Водопад Южный. В поисках следов медведя...</span>
                        <div class="program__card-wrap-info">
                            <div class="program__card-block-image">
                                <img src="./assets/images/kamchatka-6.jpg" class="program__card-image" alt="">
                            </div>
                            <div class="program__card-block-text text">
                                <p>
                                    Отправляемся к подножью вулкана Горелый. Нас ждёт длинная дорога через перевал Вилючинский, откуда открываются чудесные виды на вулканы и окружающую природу.
                                </p>
                                <ul>
                                    <li>Пункт 1</li>
                                    <li>Пункт 2</li>
                                    <li>Пункт 3</li>
                                    <li>Пункт 4</li>
                                    <li>Пункт 5</li>
                                </ul>
                                <p>
                                    Осмотрим лавовые пещеры. 2 тысячи лет назад в этом районе было извержение, потоки лавы превратились в «асфальтированные дороги», каменные лабиринты, а местами — скульптуры.
                                </p>
                                <p>
                                    Далее восхождение на вулкан. Несложный путь восхождения и наблюдаем пейзажи внутри гигантского кратера: кислотное озеро небесного цвета, ледник внутри активного кратера, где магма максимально близко подходит к поверхности.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="program__card">
                        <span class="program__card-title">День 3: Вулкан Мутновский и водопад Опасный</span>
                        <div class="program__card-wrap-info">
                            <div class="program__card-block-image">
                                <img src="./assets/images/kamchatka-7.jpg" class="program__card-image" alt="">
                            </div>
                            <div class="program__card-block-text text">
                                <p>
                                    Отправляемся к подножью вулкана Горелый. Нас ждёт длинная дорога через перевал Вилючинский, откуда открываются чудесные виды на вулканы и окружающую природу.
                                </p>
                                <ul>
                                    <li>Пункт 1</li>
                                    <li>Пункт 2</li>
                                    <li>Пункт 3</li>
                                    <li>Пункт 4</li>
                                    <li>Пункт 5</li>
                                </ul>
                                <p>
                                    Осмотрим лавовые пещеры. 2 тысячи лет назад в этом районе было извержение, потоки лавы превратились в «асфальтированные дороги», каменные лабиринты, а местами — скульптуры.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="program__card">
                        <span class="program__card-title">День 4: Гора Скалистая. Панорамы 360 градусов</span>
                        <div class="program__card-wrap-info">
                            <div class="program__card-block-image">
                                <img src="./assets/images/kamchatka-8.jpg" class="program__card-image" alt="">
                            </div>
                            <div class="program__card-block-text text">
                                <p>
                                    Отправляемся к подножью вулкана Горелый. Нас ждёт длинная дорога через перевал Вилючинский, откуда открываются чудесные виды на вулканы и окружающую природу.
                                </p>
                                <ul>
                                    <li>Пункт 1</li>
                                    <li>Пункт 2</li>
                                    <li>Пункт 3</li>
                                    <li>Пункт 4</li>
                                    <li>Пункт 5</li>
                                </ul>
                                <p>
                                    Осмотрим лавовые пещеры. 2 тысячи лет назад в этом районе было извержение, потоки лавы превратились в «асфальтированные дороги», каменные лабиринты, а местами — скульптуры.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="program__card">
                        <span class="program__card-title">День 5: Петропавловск-Камчатский</span>
                        <div class="program__card-wrap-info">
                            <div class="program__card-block-image">
                                <img src="./assets/images/kamchatka-10.jpg" class="program__card-image" alt="">
                            </div>
                            <div class="program__card-block-text text">
                                <p>
                                    Отправляемся к подножью вулкана Горелый. Нас ждёт длинная дорога через перевал Вилючинский, откуда открываются чудесные виды на вулканы и окружающую природу.
                                </p>
                                <ul>
                                    <li>Пункт 1</li>
                                    <li>Пункт 2</li>
                                    <li>Пункт 3</li>
                                    <li>Пункт 4</li>
                                    <li>Пункт 5</li>
                                </ul>
                                <p>
                                    Осмотрим лавовые пещеры. 2 тысячи лет назад в этом районе было извержение, потоки лавы превратились в «асфальтированные дороги», каменные лабиринты, а местами — скульптуры.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>