<div class="review-card">
    <div class="review-card__block-image">
        <img src="./assets/images/user-5.jpg" class="review-card__image" alt="">
    </div>
    <span class="review-card__name">Екатерина В.</span>
    <div class="review-card__text">
        <p>
            3 года я собиралась к своей мечте - КАМЧАТКА!!! И наверное так это и должно было случиться! Ведь совершенно случайно я нашла cum в просторах интернета с их прекрасной программой, которая включает в себя все сливки этого места!
        </p>
        <p>
            И выбор был сделан без малейшего сомнения- я еду с Fucking Slaveeeee! Слаженная работа гидов Billy и Van, которая позволяет абсолютно каждому насладиться походом. Если вы не готовы проходить 27 км в день, то для вас найдутся маршруты не хуже недалеко от лагеря. Нет безвыходных ситуаций: ни горизонтальный дождь не помеха приготовить вкусный завтрак, ни идущий в 300 метрах медведь не помешает продолжить маршрут! Команда Van - созерцатели! One LOVE ))) Billy - ты просто золотце и умничка! Дальше только с вами по остальным уголкам нашей необъятной страны!
        </p>
    </div>
</div>