<section class="sights section section--theme--primary">
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset">Что увидим?</h2>
        <div class="sights__wrap-cards">
            <div class="sight-card">
                <div class="sight-card__block-image">
                    <img src="./assets/images/volcanoes.jpg" class="sight-card__image" alt="">
                </div>
                <div class="sight-card__block-info">
                    <span class="sight-card__title">Три вулкана</span>
                    <span class="sight-card__subtitle">Горелый, Мутновский и Авачинский</span>
                </div>
            </div>
            <div class="sight-card">
                <div class="sight-card__block-image">
                    <img src="./assets/images/geyser.jpg" class="sight-card__image" alt="">
                </div>
                <div class="sight-card__block-info">
                    <span class="sight-card__title">Малая долина гейзеров</span>
                    <span class="sight-card__subtitle">Фумаролы и грязевые котлы</span>
                </div>
            </div>
            <div class="sight-card">
                <div class="sight-card__block-image">
                    <img src="./assets/images/hot-springs.jpg" class="sight-card__image" alt="">
                </div>
                <div class="sight-card__block-info">
                    <span class="sight-card__title">Горячие источники</span>
                    <span class="sight-card__subtitle">4 дня релакса</span>
                </div>
            </div>
            <div class="sight-card">
                <div class="sight-card__block-image">
                    <img src="./assets/images/waterfall.jpg" class="sight-card__image" alt="">
                </div>
                <div class="sight-card__block-info">
                    <span class="sight-card__title">Водопады</span>
                    <span class="sight-card__subtitle">Фотопрогулка на Опасный и Южный</span>
                </div>
            </div>
            <div class="sight-card">
                <div class="sight-card__block-image">
                    <img src="./assets/images/fox.jpg" class="sight-card__image" alt="">
                </div>
                <div class="sight-card__block-info">
                    <span class="sight-card__title">Животный мир</span>
                    <span class="sight-card__subtitle">суслики, сурки, медведи (издалека), лисы</span>
                </div>
            </div>
            <div class="sight-card">
                <div class="sight-card__block-image">
                    <img src="./assets/images/ocean.jpg" class="sight-card__image" alt="">
                </div>
                <div class="sight-card__block-info">
                    <span class="sight-card__title">Океан</span>
                    <span class="sight-card__subtitle">Отдых на берегу и уха по-камчатски</span>
                </div>
            </div>
        </div>
    </div>
</section>