<a href="##" class="tour-card">
    <div class="tour-card__block-image">
        <img src="./assets/images/kamchatka-2.jpg" class="tour-card__image" alt="">
    </div>
    <div class="tour-card__wrap-info">
        <span class="tour-card__title">Камчатка: три вулкана и океан. 12+</span>
        <span class="tour-card__desc">9 дней | в палатках и хостеле</span>
        <div class="tour-card__block-price">
            <span class="tour-card__price">78 000 р</span>
            <button type="button" class="btn btn--size--md btn--theme--tertiary">
                <span class="btn__text">Хочу поехать</span>
            </button>
        </div>
    </div>
</a>