<section class="tour-desc section">
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset">Описание тура</h2>
        <div class="tour-desc__wrap-content">
            <div class="tour-desc__block-image">
                <img src="./assets/images/kamchatka-2.jpg" class="tour-desc__image" alt="">
            </div>
            <div class="tour-desc__block-text text">
                <p>
                    Камчатка – край вулканов, медведей и необузданной природы! Этот маршрут – лидирует по впечатлениям уже несколько лет благодаря попаданию 100 из 100!
                </p>
                <p>
                    А всё потому, что в рамках тура мы выполняем чек лист «Что обязательно должен сделать каждый турист на Камчатке»:
                </p>
                <ul>
                    <li>подняться на кратер действующего вулкана;</li>
                    <li>узнать, как пахнут фумаролы;</li>
                    <li>покормить суслика с ладошки;</li>
                    <li>увидеть медведя;</li>
                    <li>отдохнуть в диком горячем источнике;</li>
                    <li>искупаться в Тихом океане;</li>
                    <li>попробовать камчатские морепродукты.</li>
                </ul>
                <p>
                    Активный маршрут без тяжелых рюкзаков с релаксом в горячих источниках!
                </p>
            </div>
        </div>
    </div>
</section>