<section class="tours section">
    <div class="main-container max-width">
        <div class="section__head">
            <h2 class="title title--h2 title-reset">Туры</h2>
            @include('./sorting.html')
        </div>
        <div class="tours__wrap-cards">
            <a href="/tour.html" class="tour-card">
                <div class="tour-card__block-image">
                    <img src="./assets/images/kamchatka-2.jpg" class="tour-card__image" alt="">
                </div>
                <div class="tour-card__wrap-info">
                    <span class="tour-card__title">Камчатка: три вулкана и океан. 12+</span>
                    <span class="tour-card__desc">9 дней | в палатках и хостеле</span>
                    <div class="tour-card__block-price">
                        <span class="tour-card__price">78 000 р</span>
                        <button type="button" class="btn btn--size--md btn--theme--tertiary">
                            <span class="btn__text">Хочу поехать</span>
                        </button>
                    </div>
                </div>
            </a>
            <a href="/tour.html" class="tour-card">
                <div class="tour-card__block-image">
                    <img src="./assets/images/kamchatka-3.jpg" class="tour-card__image" alt="">
                </div>
                <div class="tour-card__wrap-info">
                    <span class="tour-card__title">Камчатка: лавовые поля и активные вулканы. 12+</span>
                    <span class="tour-card__desc">9 дней | в палатках и хостеле</span>
                    <div class="tour-card__block-price">
                        <span class="tour-card__price">95 000 р</span>
                        <button type="button" class="btn btn--size--md btn--theme--tertiary">
                            <span class="btn__text">Хочу поехать</span>
                        </button>
                    </div>
                </div>
            </a>
            <a href="/tour.html" class="tour-card">
                <div class="tour-card__block-image">
                    <img src="./assets/images/kamchatka-4.jpg" class="tour-card__image" alt="">
                </div>
                <div class="tour-card__wrap-info">
                    <span class="tour-card__title">Камчатка: лучшее за неделю с комфортом 13+</span>
                    <span class="tour-card__desc">8 дней | в глэмпинге и гостиницах</span>
                    <div class="tour-card__block-price">
                        <span class="tour-card__price">277 000 р</span>
                        <button type="button" class="btn btn--size--md btn--theme--tertiary">
                            <span class="btn__text">Хочу поехать</span>
                        </button>
                    </div>
                </div>
            </a>
            <a href="/tour.html" class="tour-card">
                <div class="tour-card__block-image">
                    <img src="./assets/images/kamchatka-2.jpg" class="tour-card__image" alt="">
                </div>
                <div class="tour-card__wrap-info">
                    <span class="tour-card__title">Камчатка: три вулкана и океан. 12+</span>
                    <span class="tour-card__desc">9 дней | в палатках и хостеле</span>
                    <div class="tour-card__block-price">
                        <span class="tour-card__price">78 000 р</span>
                        <button type="button" class="btn btn--size--md btn--theme--tertiary">
                            <span class="btn__text">Хочу поехать</span>
                        </button>
                    </div>
                </div>
            </a>
            <a href="/tour.html" class="tour-card">
                <div class="tour-card__block-image">
                    <img src="./assets/images/kamchatka-3.jpg" class="tour-card__image" alt="">
                </div>
                <div class="tour-card__wrap-info">
                    <span class="tour-card__title">Камчатка: лавовые поля и активные вулканы. 12+</span>
                    <span class="tour-card__desc">9 дней | в палатках и хостеле</span>
                    <div class="tour-card__block-price">
                        <span class="tour-card__price">95 000 р</span>
                        <button type="button" class="btn btn--size--md btn--theme--tertiary">
                            <span class="btn__text">Хочу поехать</span>
                        </button>
                    </div>
                </div>
            </a>
            <a href="/tour.html" class="tour-card">
                <div class="tour-card__block-image">
                    <img src="./assets/images/kamchatka-4.jpg" class="tour-card__image" alt="">
                </div>
                <div class="tour-card__wrap-info">
                    <span class="tour-card__title">Камчатка: лучшее за неделю с комфортом 13+</span>
                    <span class="tour-card__desc">8 дней | в глэмпинге и гостиницах</span>
                    <div class="tour-card__block-price">
                        <span class="tour-card__price">277 000 р</span>
                        <button type="button" class="btn btn--size--md btn--theme--tertiary">
                            <span class="btn__text">Хочу поехать</span>
                        </button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>