.services {

    &__wrapper-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 80px;
    }

    .main-container {
        display: grid;
        grid-row-gap: 127px;
    }
}