.feedback {

    &__wrapper-content {
        display: grid;
        grid-template-columns: minmax(552px, 714px) 462px;
        grid-column-gap: 80px;
        align-items: center;
    }

    &__wrapper-contacts {
        position: relative;
        display: grid;
        grid-row-gap: 54px;
        padding-left: 80px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 1px;
            height: 85%;
            transform: translateY(-50%);
            background-color: $color-2;
        }
    }

    &__block-contact {
        display: grid;
        grid-row-gap: 13px;
    }

    &__contact-title {
        color: $color-2;
        font-weight: 600;
    }

    &__contact-link {}

    .social-networks {}

    .main-container {
        display: grid;
        grid-row-gap: 150px;
    }
}