.feedback {

    &__wrapper-content {
        display: grid;
        align-items: center;
    }

    &__wrapper-contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-column-gap: 30px;
        grid-row-gap: 54px;
    }

    &__block-contact {
        display: grid;
        justify-content: center;
        grid-row-gap: 14px;
    }

    &__contact-title {
        color: $color-2;
        font-weight: 600;
    }

    &__contact-link {}

    .social-networks {}

    .main-container {
        display: grid;
        grid-row-gap: 150px;
    }
}