.footer {
    flex: 0 0 auto;
    padding: 50px 0 20px 0;
    background-color: $color-3;

    &__main-container-nav {
        display: grid;
        grid-template-columns: max-content auto;
        grid-column-gap: 100px;
    }

    &__wrap-logo {
        display: grid;
        grid-row-gap: 40px;
    }

    &__contacts {
        display: grid;
        grid-row-gap: 20px;
    }

    &__title {
        text-transform: uppercase;
        color: $color-5;
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
        color: $color-2;
        transition: color $transition-time;

        &:hover {
            color: $color-6;
        }
    }

    &__wrap-nav {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-column-gap: 40px;
        justify-content: space-between;
    }

    &__nav {}

    &__nav-list {
        display: grid;
        grid-row-gap: 10px;
        margin-top: 20px;
    }

    &__nav-li {}

    &__wrap-copy {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        margin-top: 40px;
        border-top: 1px solid rgb(240, 240, 240, 0.09);
    }

    &__copyright,
    &__dev {
        color: $color-2;
    }

    &__copyright {}

    &__dev {
        transition: opacity $transition-time;

        &:hover {
            opacity: 0.6;
        }
    }

    .logo {

        &__image {
            width: 150px;
            height: 150px;
        }
    }
}