.header {
    flex: 0 0 auto;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    grid-column-gap: 30px;
    padding: 20px 40px;
    transition: background-color $transition-time, padding $transition-time;

    &--fixed {
        padding: 10px 40px;
        background-color: $color-3;
    }

    &--theme--primary {
        background-color: $color-3;
    }

    &__menu {
        display: grid;
        grid-template-columns: auto repeat(2, max-content);
        align-items: center;
        grid-column-gap: 30px;
    }

    &__burger {
        display: none;
        position: relative;
        width: 24px;
        height: 16px;

        &.active span {
            &:nth-child(1) {
                top: 5px;
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &:nth-child(3) {
                top: 5px;
                transform: rotate(-45deg);
            }
        }

        span {
            position: absolute;
            left: 0;
            display: block;
            height: 2px;
            width: 100%;
            background-color: $color-2;
            transition: $transition-time ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 7px;
            }

            &:nth-child(3) {
                top: 14px;
            }
        }
    }

    &__nav {
        justify-self: center;
        margin-right: 60px;
    }

    &__nav-ul {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-column-gap: 30px;
    }

    &__nav-li {}

    &__nav-link {
        position: relative;
        font-weight: 600;
        color: $color-2;
        text-decoration: none;

        &:hover::before {
            opacity: 1;
            transform: translateY(0);
        }

        &::before {
            content: "";
            position: absolute;
            top: calc(100% + 3px);
            left: 0;
            background-color: $color-2;
            height: 2px;
            width: 100%;
            opacity: 0;
            transform: translateY(3px);
            transition: opacity $transition-time, transform $transition-time;
        }
    }

    &__block-links {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-column-gap: 15px;
    }
}