<footer class="footer">
    <div class="main-container max-width">
        <div class="footer__wrap-logo">
            <a href="##" class="logo">
                <img src="./assets/images/logo.svg" class="logo__image" alt="">
            </a>
            <div class="footer__contacts">
                <a href="#" class="footer__link">+7 (918) 234-94-45</a>
                @include('../ui/social-network.html')
            </div>
        </div>
        <div class="footer__wrap-nav">
            <div class="footer__nav">
                <span class="footer__title">туры</span>
                <ul class="footer__nav-list list-reset">
                    <li class="footer__nav-li">
                        <a href="#" class="footer__link">Все туры</a>
                    </li>
                </ul>
            </div>
            <div class="footer__nav">
                <span class="footer__title">команда</span>
                <ul class="footer__nav-list list-reset">
                    <li class="footer__nav-li">
                        <a href="#" class="footer__link">О нас</a>
                    </li>
                    <li class="footer__nav-li">
                        <a href="#" class="footer__link">Статьи</a>
                    </li>
                    <li class="footer__nav-li">
                        <a href="#" class="footer__link">Отзывы</a>
                    </li>
                </ul>
            </div>
            <div class="footer__nav">
                <span class="footer__title">Полезное</span>
                <ul class="footer__nav-list list-reset">
                    <li class="footer__nav-li">
                        <a href="#" class="footer__link">Политика конфиденциальности</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>