<header class="header" data-header="main">
    <a href="##" class="logo">
        <img src="./assets/images/logo-2.jpg" class="logo__image" alt="">
    </a>
    <div class="header__burger" data-header="btn-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="header__menu" data-header="menu">
        <nav class="header__nav">
            <ul class="header__nav-ul list-reset">
                <li class="header__nav-li">
                    <a href="##" class="header__nav-link">Туры</a>
                </li>
                <li class="header__nav-li">
                    <a href="##" class="header__nav-link">О нас</a>
                </li>
                <li class="header__nav-li">
                    <a href="##" class="header__nav-link">Отзывы</a>
                </li>
            </ul>
        </nav>
        @include('../ui/social-network.html')
        <div class="header__block-links">
            <a href="tel:79182349445" class="btn btn--size--md btn--theme--primary">
                <span class="btn__text">+7 (918) 234-94-45</span>
            </a>
        </div>
    </div>
</header>