<section class="about-me section" data-smooth-scrolling="about-me">
    <div class="main-container max-width">
        <div class="about-me__block-image">
            <img src="./assets/images/team.jpg" class="about-me__image" data-scroll-parallax alt="">
        </div>
        <div class="about-me__wrapper-info">
            <div class="title">
                <span class="title__text">Обо мне</span>
            </div>
            <div class="about-me__block-text">
                <p>
                    Я Frontend-разработчик с многолетним опытом.
                    В моей команде талантливые дизайнеры и разработчики.
                </p>
                <p>
                    Мы создаем и улучшаем присутствие компаний в интернете. Повышаем их привлека­тельность
                    и помогаем быть лидерами в своей отрасли.
                </p>
            </div>
            <button class="btn btn--size--md btn--theme--secondary" data-smooth-scrolling="#projects">
                <span class="btn__text">Мои проекты</span>
            </button>
        </div>
    </div>
</section>