<section class="reviews section" data-reviews="main">
    <div class="main-container max-width">
        <div class="title">
            <span class="title__text">Отзывы</span>
            <div class="title__line"></div>
        </div>
        <div class="reviews__wrapper-slider">
            <div class="swiper swiper--arrows reviews__slider" data-reviews="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="reviews__wrapper-review">
                            <div class="reviews__block-image">
                                <img src="./assets/images/customer-anna.jpg" class="reviews__image" alt="">
                            </div>
                            <div class="reviews__block-info">
                                <span class="reviews__text">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam
                                </span>
                                <div class="reviews__block-sign">
                                    <div class="reviews__sign-line"></div>
                                    <span class="reviews__name">Anna</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__wrapper-review">
                            <div class="reviews__block-image">
                                <img src="./assets/images/customer-nikita.jpg" class="reviews__image" alt="">
                            </div>
                            <div class="reviews__block-info">
                                <span class="reviews__text">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam
                                </span>
                                <div class="reviews__block-sign">
                                    <div class="reviews__sign-line"></div>
                                    <span class="reviews__name">nikita</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="arrow swiper__arrow swiper__arrow--prev" data-reviews="btn-prev">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                    </svg>
                </button>
                <button type="button" class="arrow swiper__arrow swiper__arrow--next" data-reviews="btn-next">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>