<div class="service-card">
    <!-- <div class="service-card__block-icon">
        <svg class="service-card__icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#chrome" />
        </svg>
    </div> -->
    <span class="service-card__title">Web Developement</span>
    <span class="service-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </span>
    <button class="btn btn--size--md btn--theme--primary" data-smooth-scrolling="#contacts">
        <span class="btn__text">Заказать</span>
    </button>
</div>