<section class="services section" data-smooth-scrolling="services">
    <div class="main-container max-width">
        <div class="title">
            <span class="title__text">Что я делаю</span>
            <div class="title__line"></div>
        </div>
        <div class="services__wrapper-cards">
            <div class="service-card">
                <!-- <div class="service-card__block-icon">
                    <svg class="service-card__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#chrome" />
                    </svg>
                </div> -->
                <span class="service-card__title">Разработка веб - приложения</span>
                <span class="service-card__description">Дизайн, программирование пользовательского интерфейса, серверное
                    программирование</span>
                <button class="btn btn--size--sm btn--theme--primary" data-smooth-scrolling="#contacts">
                    <span class="btn__text">Заказать</span>
                </button>
            </div>
            <div class="service-card">
                <!-- <div class="service-card__block-icon">
                    <svg class="service-card__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#chrome" />
                    </svg>
                </div> -->
                <span class="service-card__title">Разработка сайта под ключ</span>
                <span class="service-card__description">Дизайн, верстка, программирование. Размещение сайта в интернете
                    <b>бесплатно</b></span>
                <button class="btn btn--size--sm btn--theme--primary" data-smooth-scrolling="#contacts">
                    <span class="btn__text">Заказать</span>
                </button>
            </div>
            <div class="service-card">
                <!-- <div class="service-card__block-icon">
                    <svg class="service-card__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#chrome" />
                    </svg>
                </div> -->
                <span class="service-card__title">Поддержка вашего проекта</span>
                <span class="service-card__description">Поддержка как статического сайта, так и веб-приложения</span>
                <button class="btn btn--size--sm btn--theme--primary" data-smooth-scrolling="#contacts">
                    <span class="btn__text">Заказать</span>
                </button>
            </div>
        </div>
    </div>
</section>