// Colors

$main-color: #21243D;

$color-1: #fff;
$color-2: #000;
$color-3: #00A8CC;
$color-4: #FF6464;
$color-5: #EDF7FA;

// Fonts

$main-font: 'Montserrat';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;