<section class="about-me section">
    <div class="main-container max-width">
        <div class="about-me__block-image">
            <img src="./assets/images/about-me.jpg" class="about-me__image" alt="">
        </div>
        <div class="about-me__wrapper-info">
            <div class="title">
                <span class="title__text">About me</span>
            </div>
            <div class="about-me__block-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua.
                </p>
            </div>
            <button class="btn btn--size--md btn--theme--secondary">
                <span class="btn__text">My Projects</span>
            </button>
        </div>
    </div>
</section>