<section class="feedback section">
    <div class="main-container max-width">
        <div class="title">
            <span class="title__text">GET IN TOUCH</span>
            <div class="title__line"></div>
        </div>
        <div class="feedback__wrapper-content">
            <form action="" class="form">
                <div class="form__wrapper-inputs">


                    <div class="input" data-input="block-input">
                        <div class="input__block-input">
                            <input type="text" class="input__input" data-input="input" data-input-type="name" required minlength="2">
                            <span class="input__placeholder" data-input="placeholder">Имя</span>
                            <button type="button" class="input__btn-clearing" data-input="btn-clearing">
                                <svg class="input__clearing-icon">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#cross"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn--size--bg btn--theme--primary">
                    <span class="btn__text">SUBMIT</span>
                </button>
            </form>
        </div>
    </div>
</section>