<section class="performance">
    <div class="main-container max-width">
        <div class="performance__wrapper-info">
            <div class="performance__block-social-networks">
                @include('../ui/social-networks.html')
            </div>
            <div class="performance__inner-info">
                <div class="performance__block-info">
                    <span class="performance__greeting">Hello, I am <b>Andrey</b></span>
                    <span class="performance__description">Lorem ipsum sit dolor amet..</span>
                </div>
                <div class="performance__block-btns">
                    <button class="btn btn--size--md btn--theme--primary">
                        <span class="btn__text">Hire me</span>
                    </button>
                    <button class="btn btn--size--md btn--theme--secondary">
                        <span class="btn__text">Know more</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="performance__block-image">
            <img src="./assets/images/decore-image.jpg" class="performance__image" alt="">
        </div>
    </div>
</section>