<section class="reviews section" data-reviews="main">
    <div class="main-container max-width">
        <div class="title">
            <span class="title__text">Reviews</span>
            <div class="title__line"></div>
        </div>
        <div class="reviews__wrapper-slider">
            <div class="swiper reviews__slider" data-reviews="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="reviews__wrapper-review">
                            <div class="reviews__block-image">
                                <img src="./assets/images/human.jpg" class="reviews__image" alt="">
                            </div>
                            <div class="reviews__block-info">
                                <span class="reviews__text">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam
                                </span>
                                <div class="reviews__block-sign">
                                    <div class="reviews__sign-line"></div>
                                    <span class="reviews__name">customer 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__wrapper-review">
                            <div class="reviews__block-image">
                                <img src="./assets/images/human.jpg" class="reviews__image" alt="">
                            </div>
                            <div class="reviews__block-info">
                                <span class="reviews__text">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam
                                </span>
                                <div class="reviews__block-sign">
                                    <div class="reviews__sign-line"></div>
                                    <span class="reviews__name">customer 2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next" data-reviews="btn-next"></div>
                <div class="swiper-button-prev" data-reviews="btn-prev"></div>
            </div>
        </div>
    </div>
</section>