<section class="services section">
    <div class="main-container max-width">
        <div class="title">
            <span class="title__text">Services i offer</span>
            <div class="title__line"></div>
        </div>
        <div class="services__wrapper-cards">
            <div class="service-card">
                <div class="service-card__block-icon">
                    <svg class="service-card__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#chrome"/>
                    </svg>
                </div>
                <span class="service-card__title">Web Developement</span>
                <span class="service-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </span>
            </div>
            <div class="service-card">
                <div class="service-card__block-icon">
                    <svg class="service-card__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#chrome"/>
                    </svg>
                </div>
                <span class="service-card__title">Web Developement</span>
                <span class="service-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </span>
            </div>
            <div class="service-card">
                <div class="service-card__block-icon">
                    <svg class="service-card__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#chrome"/>
                    </svg>
                </div>
                <span class="service-card__title">Web Developement</span>
                <span class="service-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </span>
            </div>
        </div>
    </div>
</section>