.faq {

    &__wrap-cards {}

    &__block {

        &:not(:first-child) {
            border-top: 1px solid $color-7;
            padding: 20px 0;
        }

        &:first-child {
            padding: 0 0 20px 0;
        }
    }

    &__block-head {
        display: grid;
        grid-template-columns: auto max-content;
        align-items: center;
        justify-content: space-between;
        grid-column-gap: 40px;
        cursor: pointer;
        transition: opacity $transition-time;

        &:hover {
            opacity: 0.6;
        }

        &:not(.not-active) {
            opacity: 0.6;

            .faq__block-icon {
                transform: rotate(45deg);
            }
        }
    }

    &__block-title {
        @include adaptiv-font(20, 18);
        font-weight: 600;
        color: $color-3;
    }

    &__block-icon {
        width: 24px;
        height: 24px;
        transition: transform $transition-time;
    }

    &__block-body {
        padding-top: 20px;
        overflow: hidden;
        transition: height $transition-time, padding $transition-time;

        &.not-active {
            padding: 0;
        }
    }
}