.feedback-form {

    &.section {
        padding: 0 0 100px 0;
    }

    &__head {}

    &__subtitle {
        @include adaptiv-font(24, 18);
    }

    .title {
        margin-bottom: 20px;
    }

    .main-container {
        display: grid;
        grid-template-columns: auto max-content;
        grid-column-gap: 40px;
        justify-content: space-between;
    }
}