.form {
    display: grid;
    grid-row-gap: 15px;
    max-width: 500px;

    &__privacy-policy,
    &__privacy-policy a {
        color: $main-color;
        font-size: 14px;
    }

    &__privacy-policy {
        
        a {
            border-bottom: 1px solid;
            border-bottom-color: $main-color;
            transition: border-bottom-color $transition-time;

            &:hover {
                border-bottom-color: transparent;
            }
        }
    }

    .btn {
        width: 100%;
    }
}