.presentation {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: grid;
    align-items: center;
    color: $color-2;

    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(20, 20, 20, 0.5);
    }

    &__block-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__bg {
        width: 115%;
        height: 115%;
        margin: -5%;
        object-fit: cover;
        object-position: top center;
    }

    &__wrap-content {
        display: grid;
        grid-template-columns: 610px 504px;
        grid-column-gap: 40px;
        align-items: end;
        justify-content: space-between;
    }

    &__block-info {
        display: grid;
        grid-row-gap: 30px
    }

    &__desc {
        @include adaptiv-font(24, 16);
        line-height: 1.4em;
    }

    &__btn {
        margin-top: 30px;
    }

    &__wrap-conditions {
        display: grid;
        grid-row-gap: 30px;
    }

    &__block-conditions {
        display: grid;
        grid-template-columns: max-content auto;
        align-items: center;
        grid-column-gap: 30px;
    }

    &__icon-conditions {
        width: 60px;
        height: 60px;
        object-fit: contain;
        object-position: center;
    }

    &__text-conditions {
        font-weight: 600;
        @include adaptiv-font(30, 20);
    }

    .title {
        color: $color-2;
    }

    .main-container {
        position: relative;
        z-index: 3;
    }
}