.sight-card {
    color: $color-2;

    &:hover &__image {
        transform: scale(1.05);
    }

    &__block-image {
        overflow: hidden;
        border-radius: 5px;
        height: 200px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform $transition-time;
    }

    &__block-info {
        display: grid;
        grid-row-gap: 10px;
        justify-items: center;
        padding: 20px;
    }

    &__title {
        font-weight: 600;
        text-align: center;
        @include adaptiv-font(25, 20);
    }

    &__subtitle {
        text-align: center;
    }
}